body{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;

}
h1{
    text-align: center;
    margin-bottom: 50px;
}
.registartion-form{
    background-color: white;
   border: 10px solid white;
   padding: 50px 50px;
   color: black;
   background-color:darkgoldenrod;

}
input{
   width: 200px;
   padding: 5px 20px;
}
.submit{
    
    margin-top: 50px;
    margin-left: 100px;
}
