* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    }
    
    body {
    background-color:rgba(0, 0, 0, 0.692) ;
    }
    /*Basic Area Design*/
    .wrapper {
    position: absolute;
    width: 75vmin;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    }
    /*Design of the place to see the result*/
    .count {
    background-color: rgba(142, 139, 139, 0.486);
    width: 100%;
    padding: 7px;
    position: relative;
    display: flex;
    font-family: sans-serif;
    justify-content: space-around;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    }
    /*The text of the result*/
    .count p {
    color: #ceced7;
    }
    .count h5 {
    color: #ffffff;
    font-size: 22px;
    }
    /*input place design*/
    .container {
    background-color: #ffffff;
    padding: 30px 20px 20px 20px;
    border-radius: 0px 0px 8px 8px;
    /* box-shadow: 0 30px 50px rgba(255, 255, 255, 0.011); */
    }
    
    textarea {
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    font-size: 16px;
    line-height: 28px;
    padding: 10px;
    max-height: 280px;
    color: #0e101a;
    box-shadow: 0 20px 65px rgba(61, 139, 190, 0.33);
    }